::ng-deep * {
    margin: 0;
    padding: 0;
}

.jitsi-container{
    background-color: aqua;
    min-width: 100vh;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.jitsi-container__logo{
    position:absolute;
    top: 20px;
    left: 10px;
    height: 100px;
    width: 100px;
}

.jitsi-container__logo img{
    width: 100%;

}

#jitsi-iframe {
    width: 100%;
}